@page
@model DnsLookupModel
@{
    ViewData["Title"] = "DNS Lookup";
}
<h1>@ViewData["Title"]</h1>

<form method="POST">
    <p class="text-muted">Allows you to perform a DNS lookup from the web server and render the results below.</p>
    <div class="form-group">
        <label for="host">Host name (or IP address)</label>
        <input type="text" name="host" id="host" value="@Model.Host" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>

@if (Model.DnsEntry != null)
{
    <div class="card">
        <h5 class="card-header">
            DNS entry for <code>@Model.Host</code>
            <small class="text-muted float-right">@DateTimeOffset.UtcNow.ToString("u") (UTC)</small>
        </h5>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Host Name</h6>
            <div>@Model.DnsEntry.HostName</div>
            @if (Model.DnsEntry.AddressList != null && Model.DnsEntry.AddressList.Any())
            {
                <h6 class="card-subtitle mb-2 text-muted mt-3">IP Addresses</h6>
                <ul>
                    @foreach (var address in Model.DnsEntry.AddressList)
                    {
                        <li>@address.ToString()</li>
                    }
                </ul>
            }
            @if (Model.DnsEntry.Aliases != null && Model.DnsEntry.Aliases.Any())
            {
                <h6 class="card-subtitle mb-2 text-muted mt-3">Aliases</h6>
                <ul>
                    @foreach (var alias in Model.DnsEntry.Aliases)
                    {
                        <li>@alias</li>
                    }
                </ul>
            }
        </div>
    </div>
}

<partial name="_ExceptionCard" model="Model.Exception" />
