@page
@model HttpRequestModel
@{
    ViewData["Title"] = "HTTP Request";
}
<h1>@ViewData["Title"]</h1>

<form method="POST">
    <p class="text-muted">Allows you to perform an HTTP request from the web server and render the results below.</p>
    <div class="form-group">
        <label for="requestUrl">URL</label>
        <input type="text" name="requestUrl" id="requestUrl" value="@Model.GadgetRequest.RequestUrl" class="form-control val-required" placeholder="The URL to perform the HTTP request against" />
    </div>
    <div class="form-group">
        <label for="requestHostName">Override Host Name</label>
        <input type="text" name="requestHostName" id="requestHostName" value="@Model.GadgetRequest.RequestHostName" class="form-control val-optional" placeholder="Optionally override the host name header that gets sent as part of the HTTP request" />
    </div>
    <div class="form-group">
        <label for="callChainUrls"><a asp-page="/Api" asp-fragment="call-chaining">Call Chain</a></label>
        <input type="text" name="callChainUrls" id="callChainUrls" value="@Model.GadgetRequest.CallChainUrls" class="form-control val-optional" placeholder="Optionally chain calls across multiple hops (separate base URL's by spaces)" />
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>

@Html.DisplayFor(m => m.GadgetResponse)