@page
@model IntrospectorModel
@{
    ViewData["Title"] = "Introspector";
}
<h1>@ViewData["Title"]</h1>

<form method="POST">
    <p class="text-muted">Allows you to perform an inspector request from the web server and render the results below.</p>
    <div class="form-group">
        <label for="group">Group</label>
        <select class="form-control val-optional" name="group" id="group">
            <option value="">None</option>
            @foreach (var group in InspectorGroup.AllGroups)
            {
                <option value="@group.Key" selected="@(Model.GadgetRequest.Group == group.Key ? true : false)">@group.DisplayName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="key">Key</label>
        <input type="text" name="key" id="key" value="@Model.GadgetRequest.Key" class="form-control val-optional" placeholder="Optionally return only the specific key of the selected group to retrieve the value for" />
    </div>
    <div class="form-group">
        <label for="callChainUrls"><a asp-page="/Api" asp-fragment="call-chaining">Call Chain</a></label>
        <input type="text" name="callChainUrls" id="callChainUrls" value="@Model.GadgetRequest.CallChainUrls" class="form-control val-optional" placeholder="Optionally chain calls across multiple hops (separate base URL's by spaces)" />
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>

<partial name="IntrospectorResponsePartial" model="Model.GadgetResponse" />
