@page
@model ProcessRunModel
@{
    ViewData["Title"] = "Process Run";
}
<h1>@ViewData["Title"]</h1>

<form method="POST">
    <p class="text-muted">Allows you to run a process on the host and render the output below.</p>
    <div class="form-group">
        <label for="fileName">File name</label>
        <input type="text" name="fileName" id="fileName" value="@Model.GadgetRequest.FileName" class="form-control val-required" placeholder="The file name of the process to run" title="You can set the default value as a 'DefaultProcessRunFileName' configuration setting" />
    </div>
    <div class="form-group">
        <label for="arguments">Arguments</label>
        <input type="text" name="arguments" id="arguments" value="@Model.GadgetRequest.Arguments" class="form-control" placeholder="The arguments for the process (note: these should use Windows command-line escaping rules)" title="You can set the default value as a 'DefaultProcessRunArguments' configuration setting" />
    </div>
    <div class="form-group">
        <label for="timeoutSeconds">Timeout</label>
        <input type="text" name="timeoutSeconds" id="timeoutSeconds" value="@Model.GadgetRequest.TimeoutSeconds" class="form-control" placeholder="The number of seconds to wait for the process to exit; note that if this is specified the output can be truncated even if the process exited" title="You can set the default value as a 'DefaultProcessRunTimeoutSeconds' configuration setting" />
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>

@Html.DisplayFor(m => m.GadgetResponse)